.casillero, .dadoClass{
    border: 1px black solid;
    height: 100px;
    width: 100px;
}

.jugador {
    padding: 0px;
    margin: 5px;
    border: 1px solid black;
    height: 12px;
    width: 15px;
    
}
.dadoClass, .turnoCard{
    display: inline-block;
}